{% extends 'mainapp_english/basic_templates/base_eng.html'%}

{% load staticfiles %}

{% block title %}
   <title>Karate world: Styles - Gōjū-ryū karate</title>
{% endblock %}
          
{% block content %}
    
    <h2 align=center style="color: #991131"><b>Gōjū-ryū karate</b></h2>
     
    <div style="text-align: justify">
    
        <div style="float: left"><img align="center" src="{% static 'images/goju_logo.jpg' %}"></div>
        <p style="text-indent: 1em">Gōjū-ryū, Japanese for "hard-soft style", is one of the main traditional Okinawan styles of karate, featuring a combination of hard and soft techniques. Gō, which means hard, refers to closed hand techniques or straight linear attacks; jū, which means soft, refers to open hand techniques and circular movements. Chōjun Miyagi (1888-1953) was an Okinawan martial artist who founded the Gōjū-ryū school of karate by blending Okinawan and Chinese influences.</p>

        <p style="text-indent: 1em">Gōjū-ryū incorporates both circular and linear movements into its curriculum, combining hard striking attacks such as kicks and close hand punches with softer open hand circular techniques for attacking, blocking, and controlling the opponent, including joint locks, grappling, takedowns, and throws.</p>
        
        <p style="text-indent: 1em">Goju applies not just to karate, but to life in general; only hardness or only softness will not enable one "to deal effectively with the fluctuations of life". When blocking, "the body is soft and inhaling"; when striking, the body is "hard and exhaling".</p>


        <p style="text-indent: 1em">Style Gōjū-ryū is practiced by:</p>

        <h6 align='center'><b>International federations of A category</b></h6>
        
        <ul style="list-style-type: none">
        
            <li>World Karate Confederation (WKC)</li>

            <li>World Karate Federation (WKF) (conditionally)</li>
            
            <br>

            <li><p><i>Note. The WKF rules allow participation in kata competitions to representatives of the Goju-Ryu style. But as it is significantly less spectacular than Shotokan and Shito-Ryu styles, the representatives of Goju-Ryu have no chances to win this kind of program. For this reason, the performance of the Goju-Ryu athletes in the WKF kata competitions is an exotic rarity.</i></p>

                <p><i>In WKC, kata competitions of all four styles are held separately for each style.</i></p></li>
        
        </ul>

        <h6 align='center'><b>International federations of B category</b></h6>
        
        <ul style="list-style-type: none">

            <li>World Union of Karate-do Federations (WUKF)</li>

            <li>World Union of Karate-do Organizations (WUKO)</li>

            <li>World Goju-Ryu Karate Federation (WGRKF)</li>
        
        </ul>
    
    </div>  

{% endblock %}