{% extends 'mainapp_english/basic_templates/base_eng.html'%}

{% load staticfiles %}

{% block title %}
   <title>Karate world: Styles - Shitō-ryū karate</title>
{% endblock %}
          
{% block content %}
    
    <h2 align=center style="color: #991131"><b>Shitō-ryū karate</b></h2>
     
    <div style="text-align: justify">
    
        <div style="float: left"><img align="center" src="{% static 'images/shito_logo.png' %}"></div>
        <p style="text-indent: 1em">Shitō-ryū is a form of karate that was founded by Kenwa Mabuni (1890-1954). A synthesis of various different Okinawan schools of martial arts, the Shitō-ryū is primarily practiced in Osaka. Due to both controversies in Kenwa Mabuni's line of succession and Mabuni's extensive efforts to popularize the martial art form in Japan, there exist many successor karate schools that claim Shitō-ryū as an influence.</p>

        <p style="text-indent: 1em">Shitō-ryū is a combination style, which attempts to unite the diverse roots of karate. On one hand, Shitō-ryū has the physical strength and long powerful stances of Shuri-te derived styles, such as Shorin-ryū and Shotokan; on the other hand, Shitō-ryū also has the circular and eight-directional movements, breathing power, and hard and soft characteristics of Naha-te styles such as Uechi-ryū and Gōjū-ryū. Shitō-ryū is extremely fast, but still can be artistic and powerful.</p>

        <p style="text-indent: 1em">According to the KW, about 15% of all karatekas are engaged in the style of Shotokan.</p>

        <p style="text-indent: 1em">Style Shito-Ryu is practiced by:</p>

        <h6 align='center'><b>International federations of A category</b></h6>
        
        <ul style="list-style-type: none">
        
            <li>World Karate Federation (WKF)</li>

            <li>World Karate Confederation (WKC)</li>
        
        </ul>

        <h6 align='center'><b>International federations of B category</b></h6>
        
        <ul style="list-style-type: none">

            <li>World Union of Karate-do Federations (WUKF)</li>

            <li>World Union of Karate-do Organizations (WUKO)</li>

            <li>World Shito-ryu Karate-do Federation (W.S.K.F)</li>

            <li>Kobe Osaka International (KOI)</li>
        
        </ul>
    
    </div>  

{% endblock %}