{% extends 'mainapp_english/basic_templates/base_eng.html'%}

{% load staticfiles %}

{% block title %}
   <title>Karate world: Styles - Shotokan karate</title>
{% endblock %}
          
{% block content %}
    
    <h2 align=center style="color: #991131"><b>Shotokan karate</b></h2>
     
    <div style="text-align: justify">
    
        <div style="float: left"><img align="center" src="{% static 'images/shotokan_logo.png' %}"></div>
        <p style="text-indent: 1em">Karate Shotokan is one of the four main styles of karate in Japan. Shotokan is a style of karate, developed from various martial arts by Gichin Funakoshi (1868–1957) and his son Gigo Yoshitaka. Shoto, meaning "pine-waves" was Funakoshi's pen-name, which he used in his poetic and philosophical writings and messages to his students. The Japanese kan means "house" or "hall". The emblem of style is the tiger.</p>

        <h5 align=center>Style features</h5>

        <p style="text-indent: 1em">Techniques in kihon and kata are characterised by deep, long stances that provide stability, enable powerful movements, and strengthen the legs. Shotokan is regarded as a dynamic martial art as it develops anaerobic, powerful techniques as well as developing speed. Initially strength and power are demonstrated instead of slower, more flowing motions. Ikken Hissatsu is a fundamental term used in Shotokan karate, meaning "to annihilate at one blow".  The program of Shotokan Karate-do consists of 26 different kata - they are called classic - the study and implementation of which is the most important component of the training.</p>

        <p style="text-indent: 1em">Shotokan is the most dynamic, entertaining and the most popular Japanese style of karate. According to the KW, about 80% of all karatekas are engaged in the style of Shotokan.</p>

        <p style="text-indent: 1em">Style Shotokan is practiced by:</p>

        <h6 align='center'><b>International federations of A category</b></h6>
        
        <ul style="list-style-type: none">
        
            <li>World Karate Federation (WKF)</li>

            <li>Shotokan Karate-Do International Federation (S.K.I.F)</li>

            <li>Japan Karate Association (JKA)</li>

            <li>International Traditional Karate Federation (ITKF)</li>

            <li>World Karate Confederation (WKC)</li>
        
        </ul>

        <h6 align='center'><b>International federations of B category</b></h6>
        
        <ul style="list-style-type: none">

            <li>World Union of Karate-do Federations (WUKF)</li>

            <li>World Union of Karate-do Organizations (WUKO)</li>

            <li>Japan Shotokan Karate Association (JSKA)</li>

            <li>World Shotokan Karate-do Federation (W.S.K.F)</li>

            <li>World Shotokan Karate-do Association (WSKA)</li>
        
        </ul>
    
    </div>  

{% endblock %}