{% extends 'mainapp_english/basic_templates/base_eng.html'%}

{% load staticfiles %}

{% block title %}
   <title>Karate world: Styles - Wadō-ryū karate</title>
{% endblock %}
          
{% block content %}
    
    <h2 align=center style="color: #991131"><b>Wadō-ryū karate</b></h2>
     
    <div style="text-align: justify">
    
        <div style="float: left"><img align="center" src="{% static 'images/wado_logo.png' %}"></div>
        <p style="text-indent: 1em">Wadō-ryū is one of  four major karate style. The name Wadō-ryū has three parts: Wa, dō, and ryū. Wa means "harmony," dō  means "way," and ryū means "school" or "style".</p>

        <p style="text-indent: 1em">Wadō-ryū  was founded by Hironori Ōtsuka in 1934.</p>

        <p style="text-indent: 1em">To the untrained observer, Wadō-ryū might look similar to other styles of karate, such as Shōtōkan. Most of the underlying principles, however, were derived from Shindō Yōshin-ryū, an atemi waza focused style of Jujutsu. A block in Wadō may look much like a block in Shōtōkan, but they are executed from different perspectives.</p>

        <p style="text-indent: 1em">A key principle in Wadō-ryū is that of tai sabaki (often incorrectly referred to as 'evasion'). The Japanese term can be translated as "body-management," and refers to body manipulation so as to move the defender as well as the attacker out of harm's way. The way to achieve this is to 'move along' rather than to 'move against'—or harmony rather than physical strength.</p>

        <p style="text-indent: 1em">Wado-Ryu has very few admirers around the world.</p>

        <p style="text-indent: 1em">Style Wado-Ryu is practiced by:</p>

        <h6 align='center'><b>International federations of A category</b></h6>
        
        <ul style="list-style-type: none">
        
            <li>World Karate Federation (WKF) (conditionally)</li>

            <li>World Karate Confederation (WKC)</li>
            
            <br>

            <li><p><i>Note. Representatives of the Wado-Ryu style at the WKF competitions have the same problems as of the Goju-Ryu one.</i></p>

                <p><i>In WKC, kata competitions of all four styles are held separately for each style.</i></p></li>
        
        </ul>

        <h6 align='center'><b>International federations of B category</b></h6>
        
        <ul style="list-style-type: none">

            <li>World Union of Karate-do Federations (WUKF)</li>

            <li>World Union of Karate-do Organizations (WUKO)</li>

            <li>Japan Karatedo Federation Wado-Kai (JKFWK)</li>
        
        </ul>
    
    </div>  

{% endblock %}