{% extends 'mainapp/basic_templates/base.html'%}

{% load staticfiles %}

{% block title %}
   <title>Мир каратэ: Авторизация</title>
{% endblock %}
          
{% block content %}

    <form class="login_form" action="{% url 'auth:login' %}" method="post">
        
        <div class="form_title">
            Авторизация
        </div>

        {% csrf_token %}
        {{ login_form.as_p }}

        <br>

        <input class="form_control" type="submit" value="Войти" style="border: 2px solid #9dc8eb;">

        <br>

    </form>

    <a style="text-decoration: none" href="{% url 'auth:register' %}">
       <button class="form_control button-form_control">Регистрация</button>
    </a>

{% endblock %}