{% extends 'mainapp_english/basic_templates/base_gallery_eng.html'%}
{% load staticfiles %}

{% block title %}
   <title>Karate world: Photo albums</title>
{% endblock %}

{% block content %}
   
   
   
   <div class="title_article_i gallery_title" style="margin-bottom: 10px;">Photo albums</div>
    
        <div class="container card-columns">
            
            {% for item in gallery_item %}
               <a href="{% url 'main:photo_id' item.pk %}"><div class="card text-white">{%if item.image2%}<img class="card-img" src="{{item.image2.url}}" alt="image">{%endif%}
                <div class="card-img-overlay d-flex flex-column justify-content-between">
                    <div class="top_block text-right">
                        {{item.date}}
                    </div>
                    <div class="bottom_block">
                        {{item.title_eng}}
                    </div>
                </div>
                </div></a> 
            {% endfor %}

       </div>
       
    {% if number_of_albums > 30 %}
    
        <div style="text-align: center; margin-top: 10px;">
    
            <a href="{% url 'show_photo_eng'%}" target="_blank"><button type="button" class="btn btn-dark">Show the rest albums</button></a>
        
        </div>
    
    {% endif %}
    
{% endblock %}