{% extends 'mainapp/basic_templates/base_gallery.html'%}
{% load staticfiles %}

{% block title %}
   <title>Мир каратэ: Видео</title>
{% endblock %}

{% block content %}
   
   
   
    <div class="title_article_i gallery_title" style="margin-bottom: 10px;">Видео</div>
    
    <div class="container d-flex flex-row justify-content-center flex-wrap">
        
        {% for item in video_item %}
        
            <a href="{% url 'articles:video_id' item.pk%}" class="video_item_link"><div class="card text-white mb-3 video_item" style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title text-center">{{item.title_rus}}</h5>
                </div>
            </div></a>
            
        {% endfor %}
    
    </div>
    
    {% if number_of_videos > 30 %}
    
        <div style="text-align: center; margin-top: 10px;">
    
            <a href="{% url 'show_video'%}" target="_blank"><button type="button" class="btn btn-dark">Показать остальные видео</button></a>
        
        </div>
    
    {% endif %}
    
{% endblock %}